.about_div {
  text-align: center;
  margin-top: 150px;
}

.about_title {
  font-family: "Comforter", cursive;
  font-size: 60px;
  color: crimson;
  width: 1000px;
  text-align: center;
  border-bottom: 1px solid crimson;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.about_title_span {
  background: #fff;
  padding: 0 10px;
}

.about_section {
  color: black !important;
  margin-top: 200px;
  margin-bottom: 200px;
}

.about_p_div {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.button_div {
  margin-top: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.button {
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: lightsteelblue !important;
  border: 1px solid lightsteelblue !important;
}

.tallas_image{
  width: 800px !important;
  height: 800px !important;
}

@media screen and (max-width: 758px) {
  .about_title {
    width: 98%;
  }

.tallas_image{
  width: 300px;
  height: 500px;
}

}
