.cartDetailContainer{
    font-weight: lighter;
    /* background-color: #244c77 !important; */
}

.card_main{
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: white !important;
    border: 1px solid white;
    color: darkred;
    font-family: "Indie Flower";
    font-size:20px;
}

.card_main_header{
    /* text-align: center; */
    border-bottom: 1px solid white;
    /* font-size: 24px; */
}

.card_image{
    max-height: 200px;
    max-width: 200px;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.row_name_of_product{
    text-align: center;
}

.row_product_vars{
    text-align: center;
}

.row_buttons{
    text-align: center;
    margin-top: 20px;
}

.button_main{
    width: 60%;
    background-color: #244c77;
    color:white;
    border-color: #244c77;
}

.button_main:active,
.button_main:after,
.button_main:focus,
.button_main:hover{
    width: 60%;
    background-color: #244caa;
    color:white;
    border-color: #244caa;
}

.product_card{
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
}

.row_final_price{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.row_final_buttons{
    text-align: center;
}

.about_title {
    font-family: "Comforter", cursive;
    font-size: 60px;
    color: darkred;
    width:1000px;
    text-align: center;
    border-bottom: 1px solid darkred;
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .about_title_span{
      background:#fff; 
      padding:0 10px; 
  }

  .color_box_wrapper{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }

  .color_box_div{
    display: flex !important;
    flex-direction: row !important ;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width:min-content;
  }

  .color_box_p{
    margin-right:5px;
  }

@media screen and (max-width: 758px) {
    .image_col{
        text-align:center;
    }

    .card_image{
        max-height: 200px;
        max-width: 200px;
    }

    .button_main{
        margin-bottom: 10px;
    }
}