
.about_title {
  color: white;
  /* font-family: "Corinthia", cursive !important; */
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: transparent !important;
  opacity: 1 !important; 
  padding-top: 250px !important;
}

.about_title_span_catch{
  font-size: 50px;
  font-weight: 300 !important;
  padding: 10px;
  color: white;
  background-color: #444444aa;
}

.background_div{
  top:0;
  left:0;
  position: absolute;
  height: 600px;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  z-index: 1;
}

.title_div{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  z-index: 2;
}

  .about_title_catch{
    color: #25284b;
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: transparent !important;
    opacity: 1 !important; 
    padding-top: 350px !important;
  }

  .about_title_span_catch{
    font-size: 50px;
    color: white;
}


  /* @media screen and (max-width: 758px) {
    .about_title {
        font-size: 60px;
        padding-top: 80px;
      }

      .background_div{
        height: 200px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
      }
  } */

  @media screen and (max-width: 758px) {
    .about_title {
        font-size: 30px;
        padding-top: 250px !important;
        color: #25284b;
      }

      .about_title_span{
        color: #25284b;
      }

      .background_div{
        height: 80px;
        background: none !important;
        background-color: white;
      }
      .title_div{
        background-color: white;
        height: 100%;
      }

      .about_title_catch{
        font-size: 0px;
        color: white;
      }
    
      .about_title_span_catch{
        font-size: 0px;
        color: white;
    }

  }

  @media screen and (max-width: 992px) {

    .about_title_catch{
      font-size: 0px;
      color: white;
    }
  
    .about_title_span_catch{
      font-size: 0px;
      color: white;
  }
  }
