.categoryGridContainer {
  margin-top: 50px;
  margin-bottom: 100px;
}

.row {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card {
  margin-top: 20px;
  height: 400px;
  width: 300px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 10px;
}

.card_image {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card_coll_image {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.carousel{
  height: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
  cursor: pointer;
}

.card_footer {
  background-color:#244c77;
  font-weight: lighter;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.about_title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: #244c77;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.about_title_span {
  background: #fff;
  padding: 0 10px;
}



.collection_title {
  margin-top:50px;
  text-align: center !important;
  color: #244c77;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  margin-left: auto !important;
  margin-right: auto !important;
}

.small_br {
  width: 90%;
  min-width: 300px;
  height: 1px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  background-color: rgba(100,100,100, 0.6) !important;
}


.br {
  width: 90%;
  min-width: 300px;
  height: 1px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  background-color: rgba(100,100,100, 0.6) !important;
}


@media screen and (max-width: 758px) {
  .categoryGridContainer {
    margin-top: 50 !important;
  }

  .carousel{
    height: 350px;
    cursor: pointer;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  
  .collection_title {
    margin-top:0px;
    text-align: center !important;
    color: #244c77;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .card {
    height: 250px;
    width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }

  .card_coll_image {
    height: 250px;
    width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .categoryCol {
    margin-top: 20px;
  }

  .about_title {
    width: 98%;
  }

  .small_br {
    width: 90%;
    min-width: 300px;
    height: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    background-color: rgba(100,100,100, 0.6) !important;
  }
  
  
  .br {
    width: 90%;
    min-width: 300px;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    background-color: rgba(100,100,100, 0.6) !important;
  }
  


}


.link_div{
  margin-top: 20px;
  margin-left: auto!important;
  margin-right: auto!important;  
  text-align:center;
}

.coll_link{
  margin-left: auto!important;
  margin-right: auto!important;  
  text-align:center;
}

.coll_link_button{
  margin-left: auto!important;
  margin-right: auto!important;
  font-family: "Monstserrat", sans-serif;
  font-size: 24px !important;
  text-align:center;
  background-color: white !important;
  color: #244c77 !important;
  border-color: #244c77 !important;
}

.coll_link_button:hover,
.coll_link_button:after,
.coll_link_button:active,
.coll_link_button:focus{
  background-color: #244c77 !important;
  color: white !important;
  border-color: #244c77 !important;
}

