.about_title {
    padding-top: 100px;
    color: #244c77;
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .about_title_span{
      background:#fff; 
      padding:0 10px; 
  }

  @media screen and (max-width: 758px) {
    .about_title {
        font-size: 30px;
        padding-top: 50px;
      }
  }