.categoryGridContainer {
  margin-top: 50px;
  margin-bottom: 100px;
}

.row {
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card {
  margin-top: 100px;
  width: 250px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.card_image {
  height: 300px;
  width: 250px;
}

.card_footer {
  background-color: lightsteelblue;
  font-weight: lighter;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Indie Flower", cursive;
}

.about_title {
  color: #244c77;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.about_title_span {
  background: #fff;
  padding: 0 10px;
}

@media screen and (max-width: 758px) {
  .categoryGridContainer {
    margin-top: 50 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width: 100%;  
  }

  .row{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width: 100%; 
  }

  .card{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width: 250px;
    margin-top: 50px;
  }

  .card_image {
    height: 300px;
    width: 250px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .categoryCol {
    margin-top: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width: 100%;  
  }

  .about_title {
    width: 98%;
  }
}
