.carousel{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
} 


.coll_name{
    color: #444444dd !important;
    text-align: center;
    font-family: "Corinthia", cursive !important;
    font-size: 50px !important;
    cursor: pointer;
    margin-top: 50px !important;
    margin-bottom: 50px;
}

.card_image_div{
    width: 260px;
    height: 350px;;
    text-align: center;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 0px; 
}


.card_coll_image{
    width: 260px;
    height: 350px;
    text-align: center;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 0px;
    object-fit: cover;
    border: 1px solid #44444466;
}

.carousel_item_div{
    margin-top: 0px;
    width: 300px;
    height: 420px;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center;
    border-radius: 0px;
}

.card{
    width: 300px;
    height: 380px;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center;
    /* box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38); */
    border-radius: 0px;
    border: 1px solid transparent;
}

.carousel_info_div{
    margin-top: 0px;
    padding: 5px;
}

.carousel_item_info{
    color: #444444dd;
    margin: 0px !important;
    padding: 0px !important;
}

.link_div{
    margin-top: 20px;
    margin-left: auto!important;
    margin-right: auto!important;  
    text-align:center;
}

.coll_link{
    margin-left: auto!important;
    margin-right: auto!important;  
    text-align:center;
}

.coll_link_button{
    margin-left: auto!important;
    margin-right: auto!important;
    font-family: "Monstserrat", sans-serif;
    font-size: 20px !important;
    text-align:center;
    background-color: white !important;
    color: #25284b !important;
    border-color: #25284b !important;
}

.coll_link_button:hover,
.coll_link_button:after,
.coll_link_button:active,
.coll_link_button:focus{
    background-color: #25284b !important;
    color: white !important;
    border-color: #25284b !important;
}


@media screen and (min-width: 992px) { 

    
    .coll_name{
        color: #25284b;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 60px;
    }
}

@media screen and (max-width: 758px) { 

    
    .coll_name{
        color: #25284b;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 30px !important;
        margin-top: 50px !important;
        margin-bottom: 20px;
    }

    .coll_link_button{
        margin-left: auto!important;
        margin-right: auto!important;
        font-family: "Monstserrat", sans-serif;
        font-size: 20px !important;
        text-align:center;
        background-color: white !important;
        color: #25284b !important;
        border-color: #25284b !important;
    }

    .card{
        width: 250px;
        height: 360px;
        margin-left: auto!important;
        margin-right: auto!important;
        text-align: center;
        box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
        border-radius: 0px;
    }

    .card_coll_image{
        width: 250px;
        height: 300px;
        border-radius: 0px;
    }
    
    .carousel_item_div{
        margin-top: 30px;
        width: 250px;
        height: 350px;
        margin-left: auto!important;
        margin-right: auto!important;
        text-align: center;
        border-radius: 0px;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px){
    .coll_name{
        font-size: 60px !important;
    }
} 
