.coll_name{
    margin-top: 100px;
    color: crimson;
    text-align: center;
    font-family: "Comforter", cursive;
    font-size: 100px;
    cursor: pointer;
}

@media screen and (min-width: 992px) { 
    .coll_name{
        margin-top: 100px;
        color: crimson;
        text-align: center;
        font-family: "Comforter", cursive;
        font-size: 150px;
    }
}

.card_coll_image{
    width: 350px;
    height: 400px;
}

.carousel_item_div{
    margin-top: 30px;
    width: 350px;
    height: 450px;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center;
}

.card{
    width: 350px;
    height: 400px;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}