.categoryGridContainer {
  margin-top: 50px;
  margin-bottom: 100px;
}

.row {
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card {
  margin-top: 20px;
  height: 350px;
  width: 250px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.card_image {
  height: 300px;
  width: 250px;
}

.card_coll_image {
  height: 350px;
  width: 250px;
}

.carousel{
  height: 700px;
}

.card_footer {
  background-color: lightsteelblue;
  font-weight: lighter;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Indie Flower", cursive;
}

.about_title {
  font-family: "Comforter", cursive;
  font-size: 100px;
  color: crimson;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.about_title_span {
  background: #fff;
  padding: 0 10px;
}

.collection_title {
  text-align: center !important;
  color: lightsteelblue;
  font-size: 40px;
  font-family: "Indie Flower";
  line-height: 0.1em;
  margin: 50px 0 20px;
  margin-left: auto !important;
  margin-right: auto !important;
  border-bottom: 1px solid lightsteelblue;
  width: 400px;
  text-align: center;
}

.collection_title_span {
  background: #fff;
  padding: 0 10px;
}

@media screen and (max-width: 758px) {
  .categoryGridContainer {
    margin-top: 50 !important;
  }

  .card {
    height: 250px;
    width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }

  .card_coll_image {
    height: 300px;
    width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .categoryCol {
    margin-top: 20px;
  }

  .about_title {
    width: 98%;
  }

  .carousel{
    min-height: 1100px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }

  .collection_title {
    width: 80%;
  }

}
