.customProductsDetailContainer{
    margin-top: 50px !important;
    margin-bottom: 100px;
    /* background-color:white; */
}

.card{
    background-color: white;
    color: darkred;;
    border: 1px solid white;
    font-weight: lighter;
    font-size: 24px;
}

.card_footer{
    background-color: white;
    border-top: 1px solid white;
    text-align: center;
}

.button{
    width:30%;
    background-color: #244c77 !important;
    color: white;
    border-color: #244c77;
}

.button:hover,
.button:focus,
.button:after,
.button:active{
    background-color: #244caa !important;
    color: white;
    border-color: #244caa;
}

@media screen and (max-width: 758px) {
    .card{
        margin-top: 50px;
        text-align: center;
    }
    
    .button{
        width:60%;
    }
}