.customProductsDetailContainer{
    margin-top: 50px;
    margin-bottom: 100px;
    /* background-color:white; */
}

.card_div{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.card{
    background-color: white;
    color: darkred;;
    border: 1px solid darkred;
    font-weight: lighter;
    font-size: 24px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    width: 80%;
    min-height: 600px;
}
.card_image{
    width: 500px;
    height: 600px;
    border: 1px solid #244c77;
}

.card_s_image{
    min-width: 100px;
    max-height: 150px;
    margin-bottom: 10px;
    border: 1px solid #244c77;
}

.s_images_card{
    border: 1px solid transparent !important;
}

.card_footer{
    background-color: white;
    border-top: 1px solid darkred;
    text-align: center;
}

.button{
    background-color: #244c77 !important;
    color: white;
    border-color: #244c77;
    font-family: "Indie Flower";
    font-size: 30px;
    min-width: 200px;
}

.button:hover,
.button:focus,
.button:after,
.button:active{
    background-color: #244caa !important;
    color: white;
    border-color: #244caa;
}

@media screen and (max-width: 758px) {

    .card_image{
        width: 300px;
        height: 350px;
        border: 1px solid #244c77;
        margin-left:auto !important;
        margin-right:auto !important;
    }

    .productCol{
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
        width: 100% !important;
    }

    .card_div{
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
        background-color: crimson!important;
        width: 100% !important;
    }

    .card{
        margin-top: 50px;
        width:100%;
        margin-left:auto !important;
        margin-right:auto !important;
        border: 1px solid transparent;
    }

    .card_s_image{
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        border: 1px solid #244c77;;
    }

    .s_images_card{
        display: inline-flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }

    .s_images_div{
        margin: 6px !important;
    }

    .card_image_mcard{
        border: 1px solid transparent;
    }
}