.enzo_men_title{
    font-size: 100px;
    text-align: center;
    color: #25284b;
    margin-top: 400px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.enzo_women_title{
    font-size: 100px;
    text-align: center;
    color: #25284b;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.about_title{
    font-size: 60px;
    text-align: center;
    color: #25284b;
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 758px){
    .about_title{
        font-size: 40px;
    }

    .enzo_men_title, .enzo_women_title{
        display: none !important;
    }
}