.tag_div{
    margin-top: 20px;
    margin-bottom: 300px;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: wrap;
    align-content: space-between !important;
}


.enzo_men_div{
    margin-top: 50px;
    max-height: 600px;
    max-width: 300px;
    min-width: 250px;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: transparent !important;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.enzo_women_div{
    margin-top: 50px;
    max-height: 600px;
    max-width: 300px;
    min-width: 250px;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: transparent !important;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}


@media screen and (min-width: 992px) { 

    .tag_div{
        margin-top: 150px;
    }

    .enzo_men_div{
        max-height: 700px;
        min-height: 700px;
        max-width: 600px;
        min-width: 500px;
        margin-left: auto !important;
        margin-right: auto !important;
        cursor: pointer;
    }

    .enzo_women_div{
        max-height: 700px;
        min-height: 700px;
        max-width: 600px;
        min-width: 500px;
        margin-left: auto !important;
        margin-right: auto !important;
        cursor: pointer;
    }
}

.br {
    width: 90%;
    min-width: 300px;
    height: 1px;
    margin-top: 300px;
    margin-bottom: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    background-color: rgba(100,100,100, 0.6) !important;
  }
  