
.pcolor{
    color: crimson !important;
  }
  
  .scolor{
    background-color: lightsteelblue !important;
    color: white !important;
  }
  
  .itshape{
    font-weight: lighter;
  }

  .shoppingCartp{
      display: flex !important;
  }