.navbar {
  /* font-weight: lighter; */
  /* background-color: #244c77 !important; */
  border-bottom: 1px solid white;
  height: 100px;
  font-family: 'Comforter', cursive;
}

.linkItem{
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 50px !important;
  width: max-content ! important;
  display:block !important;
}

.linkItem > p{
  width:max-content;
  color: white !important;
  font-size: 26px !important;
}

.brand{
  font-size: 45px;
  padding-top: 30px !important;
}

.linkItemFakish {
  color: transparent !important;
  font-size: 1.2rem;
}

.shoppingCartp{
  display:flex !important;
  flex-direction: row !important;
  width: 50px !important;
  font-size: 20px !important;
}

.br_sty{
  text-align: center !important;
  color: #244c77;
  font-size: 40px;
  font-family: "Indie Flower";
  line-height: 0.1em;
  margin: 10px 0 0 0;
  margin-left: auto !important;
  margin-right: auto !important;
  border-bottom: 5px solid crimson;
  width: 100%;
  text-align: center;
}

.nav_res{
  z-index: 99999;
}