/*================================================
    Variables that change depending on devices

    Default values are for Extra Large devices 1400px
 ================================================ */

.navbar_wrapper {
  width: 100%;
  background-color: white !important;
}

.top_navbar_border {
  width: 95%;
  min-width: 300px;
  height: 40px;
  background-color: #244c77;
  margin-left: auto;
  margin-right: auto;
}

.lan_p{
	color: white !important;
	text-align: end !important;
}

.lan_button{
	color: white !important;
	background-color: transparent !important;
	border-color: transparent !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 20px !important;
}

.lan_button:hover,
.lan_button:active,
.lan_button:after,
.lan_button:focus{
	color: white !important;
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar {
  height: 300px;
  background-color: white !important;
  color: #244c77 !important;
}

.brand {
  color: #244c77 !important;
  font-size: 150px;
  font-family: "Corinthia", cursive !important;
  font-weight: bold;
}



.navbar_cart_svg {
  width: 50px !important;
  height: 50px !important;
}

.cart_count {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  border: solid white;
  border-radius: 60%;
  height: 30px;
  width: 25px;
  background-color: white;
  color: #244c77;
  text-align: center;
  margin-left: -10px;
  margin-top: -5px;
  font-family: "Montserrat, sans-serif" !important;
  font-weight: 700;
}

@media screen and (max-width: 758px){
  .navbar {
    height: 250px;
  }

  .navbar_cart_svg {
    width: 30px !important;
    height: 30px !important;
  }

  .cart_count {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    border: solid white;
    border-radius: 60%;
    height: 25px;
    width: 20px;
    background-color: white;
    color: #244c77;
    text-align: center;
    margin-left: -10px;
    margin-top: -10px;
    font-family: "Montserrat, sans-serif" !important;
    font-weight: 700;
  }

  .brand_small{
    color: #244c77 !important;
    font-size: 80px;
    font-family: "Corinthia", cursive !important;
    font-weight: bold;
    padding-top: 0 !important;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow-wrap:break-word !important;
  }

  
  .navbar_cart{
    margin-left: auto !important;
    margin-right: 0 !important;
  }
  

}

@media screen and (min-width: 768px) and (max-width: 992px){
  .brand {
    color: #244c77 !important;
    font-size: 80px;
    font-family: "Corinthia", cursive !important;
    font-weight: bold;
  }

}
