.navbar_wrapper {
  width: 100%;
  background-color: white !important;
}

.top_navbar_border {
  width: 100%;
  min-width: 300px;
  height: 30px;
  background-color: #25284b;
  z-index: 999999;
  margin-left: auto;
  margin-right: auto;
}

.lan_p{
	color: white !important;
	text-align: end !important;
  padding-right: 50px;
}

.lan_button{
	color: white !important;
	background-color: transparent !important;
	border-color: transparent !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 16px !important;
}

.lan_button:hover,
.lan_button:active,
.lan_button:after,
.lan_button:focus{
	color: white !important;
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar {
  height: 200px;
  z-index: 999999;
}

.navbar_navy{
  background-color: #25284b !important;
  height: 200px;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  z-index: 1;
}

.navbar_white{
  background-color: transparent !important;
  background: none;
  background-image: none;
}

.brand {
  font-size: 120px;
  font-family: "Corinthia", cursive !important;
  font-weight: 500;
}

.navbar_cart_svg {
  width: 40px !important;
  height: 40px !important;
}

.cart_count {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  border: solid transparent;
  border-radius: 60%;
  height: 30px;
  width: 25px;
  background-color: transparent;
  text-align: center;
  margin-left: -5px;
  margin-top: -5px;
  font-family: "Montserrat, sans-serif" !important;
  font-weight: 700;
}

.brand_navy{
  color: white !important;
}

.brand_white{
  color: white !important;
}

@media screen and (max-width: 758px){

  .top_navbar_border {
    width: 100%;
    min-width: 300px;
    height: 30px;
  }

  .lan_button{
    color: white !important;
    background-color: transparent !important;
    border-color: transparent !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 12px !important;
  }

  .navbar {
    height: 150px !important;
  }

  .navbar_cart_svg {
    width: 30px !important;
    height: 30px !important;
  }

  .cart_count {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    border: solid transparent;
    border-radius: 60%;
    height: 25px;
    width: 20px;
    background-color: transparent;
    color: white;
    text-align: center;
    margin-left: -5px;
    margin-top: -10px;
    font-family: "Montserrat, sans-serif" !important;
    font-weight: 700;
  }

  .brand_small{
    color: white !important;
    font-size: 40px;
    font-family: "Corinthia", cursive !important;
    font-weight: bold !important;
    padding-top: 0 !important;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow-wrap:break-word !important;
  }

  
  .navbar_cart{
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  .navbar_cart_svg{
    fill: white !important;
  }

  .navbar_navy{
    background-color: #25284b !important;
  }
  
  .navbar_white{
    background-color: #25284b !important;
  }
  

}

@media screen and (min-width: 500px) and (max-width: 758px){
  .brand_small{
    color: white !important;
    font-size: 50px;
    font-family: "Corinthia", cursive !important;
    font-weight: bold !important;
    padding-top: 0 !important;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow-wrap:break-word !important;
    padding-left: 20px
  }

  .navbar_cart_svg{
    fill: white !important;
  }

  .navbar_navy{
    background-color: #25284b !important;
  }
  
  .navbar_white{
    background-color: #25284b !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .brand {
    color: white !important;
    font-size: 80px;
    font-family: "Corinthia", cursive !important;
    font-weight: bold;
  }

  .navbar_cart_svg{
    fill: white !important;
  }

  .navbar_navy{
    background-color: #25284b !important;
  }
  
  .navbar_white{
    background-color: #25284b !important;
  }

}
