.carousel_div{
    margin-top: 0px;
    font-family: "Comforter", cursive;
}

.carousel{
    text-align:center !important;
}

.caption{
    color:crimson !important;
}

.image_div{
    width: 500px !important;
    height: 800px !important;
}

@media screen and (max-width: 758px) {
    .carousel{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .image_div{
        width: 500px !important;
        height: 400px !important;
    }
}

@media screen and (min-width: 1200px) { 
    .image_div{
        width: 500px !important;
        height: 80vh !important;
    }
}