.orderResumeContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: lighter;
}

.card{
    background-color: white;
    color: #244c77;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #244c77;
    font-size: 26px;
}

.card_header{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #244c77;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}