.OrderSuccessfullyMadeContainer{
    margin-top: 50px;
    margin-bottom: 100px;
}

.card{
    background-color: white;
    color: #244c77;
    border: 1px solid #244c77;
    font-weight: lighter;
    font-size: 24px;
}

.card_body{
    text-align: center;
}