.orderResumeContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: lighter;
}

.card{
    background-color: white;
    color: darkred;
    border: 1px solid darkred;
    font-size: 26px;
    font-family: "Indie Flower"
}

.card_header{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid darkred;
    font-family: "Indie Flower"
}