.productsDetailContainer {
  margin-top: 50px;
  margin-bottom: 100px;
  /* background-color:white; */
}

.card_div {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  width: 500px;
  height: 600px;
}

.card {
  background-color: white;
  color: #244c77;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #244c77 !important;
  font-weight: lighter;
  font-size: 24px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  width: 500px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}
.card_image {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  border-color: rgba(200, 200, 200, 0.6) !important;
}

.card_s_image {
  width: 150px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.s_images_card::-webkit-scrollbar {
  display: none;
}

.s_images_card {
  width: 150px;
  max-height: 700px;
  border: 1px solid transparent !important;
  border-radius: 10px;
  border-color: rgba(200, 200, 200, 0.6) !important;
  overflow-x: hidden;
  overflow-y: visible;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.card_footer {
  background-color: white;
  border-top: 1px solid transparent;
  text-align: center;
}

.button {
  background-color: #244c77 !important;
  color: white;
  border-color: #244c77;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  min-width: 200px;
  padding-bottom: 10px;
}

.button:hover,
.button:focus,
.button:after,
.button:active {
  background-color: steelblue !important;
  color: white;
  border-color: steelblue;
}

.card_image_mcard {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  border-color: rgba(200, 200, 200, 0.6) !important;
}

@media screen and (min-width: 758px) and (max-width: 992px) {
  .productCol {
    margin-top: 50px !important;
  }

  .card_div {
    max-width: 100% !important;
    width: 80%;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 758px) {
  .productCol {
    margin-top: 50px !important;
  }

  .card_div {
    max-width: 100% !important;
    width: 80%;
  }

  .card {
    width: 100%;
  }

  .card_image_mcard {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }

  .card_image {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border-color: rgba(200, 200, 200, 0.6) !important;
  }

  .card_s_image {
    grid-column: 1 / 3;
  grid-row: 1;
    width: 100px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: rgba(200, 200, 200, 0.6) !important;
  }

  .s_images_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    width: 100%;
    max-width: 300px !important;
    border: 1px solid transparent !important;
    border-radius: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    height: max-content;
  }
}
