.productsGridContainer{
    margin-top: 50px;
    margin-bottom: 100px;
}

.card{
    border: 1px solid white;
    margin-top: 50px;
}

.card_image {
    height: 400px;
  }

.card_footer{
    background-color: #244c77;
    color: white;
    border-top: 1px solid white;
    text-align: center;
    font-family: "Indie Flower";
    font-size: 30px;
    font-weight: lighter;
}

@media screen and (max-width: 758px) {
    .categoryGridContainer {
      margin-top: 50 !important;
    }
  
    .card_image {
      max-height: 300px;
    }
    .productCol {
      margin-top: 20px;
    }
  }
  