.navbar{
  background-color: #244c77 !important;
  min-height: 50px;
  font-family: "Montserrat", sans-serif;
}

.navbar_navdropdown{
  color: white !important;
  text-decoration: none !important;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar_link{
  color: white !important;
  text-decoration: none !important;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar_contact_nav{
  margin-right: 50px;
}

.navbar_collapse{
  z-index: 999998;
  background-color: #244c77;
}

.modal{
  z-index: 999999;
}

.navbar_link_modal{
  padding-top: 10px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}